.admin-portal-body-section {
    display: flex;
    width: 100vw;
    height: 100vh;

    box-sizing: border-box;

    flex: 1;
    overflow: auto;
}

#admin-navigation-section {
    margin: auto;
    width: 60%;
    height: 40%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

.admin-navigation-button {
    margin: 10px;
    display: flex;
    justify-content: center;
    width: 40%;
    height: 40%;
    font-size: 1.25rem;
}

.first-section {
    border-right: 5px solid white;
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 98%;
    align-items: center;
    overflow: auto;
}

.second-section {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 98%;
    align-items: center;
    overflow: auto;
}

table, th {
    border: 2px solid white;
    border-collapse: collapse;
    width: 90%;
    padding: 5px;
}

th, td {
    padding: 10px 5px;
}

tr:nth-child(even) {
    background-color: rgba(245, 245, 245, 0.3);
}

.management-form {
    width: 80%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.management-form fieldset {
    padding: 15px;
    border-radius: 10px;
    width: 100%;
}

legend {
    font-size: 1.25em;
}

#upload-instructions {
    text-align: center;
    margin: 10px;
}

#image-upload-div {
    width: 300px;
    height: 300px;
    background-color: white;
    overflow: hidden;
    flex-shrink: 0;
}

#image-upload-div img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#tag-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.valk-tag-div {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.admin-dropdown-filter, .admin-input {
    margin: 0px 10px;
    background-color: rgba(255, 255, 255, 0.9);
    color: black;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    margin: 10px 0px;
    padding: 10px;
    width: 50%;
    min-width: 0;
    box-sizing: border-box;
}

input[type="checkbox"] {
    height: 20px;
    width: 20px;
}

input:checked {
    accent-color: #ffe14b;
    color: black;
}

/* MOBILE STYLES */
@media screen and (max-width: 1340px) {
    .admin-portal-body-section {
        flex-direction: column;
        flex-flow: column-reverse;
        overflow: auto;
    }

    .first-section, .second-section {
        width: 100%;
        height: auto;
        flex-shrink: 0;
        border: none;
    }

    .first-section {
        margin-top: 20px;
        border-top: 2px solid white;
    }
}